body,
.markdown-section {
  color: #303030;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.6;
  letter-spacing: normal;
}

.book-summary {
  font-size: 1.6rem;
}

.book.font-family-1 {
  font-family: 'Verdana', sans-serif;
}

.book.font-family-1 h1,
.book.font-family-1 h2,
.book.font-family-1 h3,
.book.font-family-1 h4,
.book.font-family-1 h5,
.book.font-family-1 h6,
.book.font-family-1 .book-summary {
  font-family: 'Avenir', 'Verdana', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2c3e50;
  line-height: 1.1;
  font-family: 'Avenir', 'Verdana', sans-serif;
}

.markdown-section li {
  margin: .65em auto;
}

.markdown-section h1,
.markdown-section h2,
.markdown-section h3 {
  font-weight: 900;
}

.markdown-section h3 {
  font-size: 1.3em;
}

.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section h5,
.markdown-section h6 {
  line-height: 1.1;
}

.markdown-section a {
  color: #bb3b12;
  text-decoration: underline;
}

.image-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: .85em;
}

.image-grid.responsive p:first-of-type {
  flex: 0 0 74.5%;
}

.image-grid.responsive p:last-of-type {
  flex: 0 0 24.5%;
}

.image-grid.half p {
  flex: 0 0 50%;
}

.image-grid.thirds p {
  flex: 0 0 50%;
}

.image-grid.quarter p {
  flex: 0 0 25%;
}

.image-grid p {
  padding: .25em;
  margin: 0 auto;
}

.image-grid img {
  border: 1px solid #efefef;
}

.markdown-section h1:before,
.markdown-section h2:before,
.markdown-section h3:before,
.markdown-section h4:before,
.markdown-section h5:before,
.markdown-section h6:before {
  display: inline-block;
  font-size: 1.2rem;
  line-height: 1;
  width: 30px;
  margin-right: 8px;
  vertical-align: middle;
  font-weight: 900;
  text-align: right;
}

.markdown-section h1#glossary ~ h2:before,
.markdown-section h1#glossary ~ h3:before,
.markdown-section h3:before,
.markdown-section h4:before,
.markdown-section h5:before,
.markdown-section h6:before {
  display: none;
}

.markdown-section h1#glossary ~ h2 {
  font-size: 1.5rem;
}
